<table style="border-collapse: collapse; width: 100%; height: 229.479px;" border="0" cellpadding="10">
<tbody>
<tr style="height: 22.3785px;">
<td style="width: 98.1074%; height: 22.3785px; text-align: center;">Sevgili<%= username%>,</td>
</tr>
<tr style="height: 22.3785px;">
<td style="width: 98.1074%; height: 22.3785px;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">Kaydınız başarıyla tamamlandı!</span></td>
</tr>
<tr style="height: 22.3785px;">
<td style="width: 98.1074%; height: 22.3785px;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">Ayzio ailesine hoş geldiniz. Sizi aramızda g&ouml;rmekten dolayı </span><span class="hljs-selector-tag" style="font-size: 10.5px; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">b</span><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">&uuml;y&uuml;k bir mutluluk duyuyoruz.</span></td>
</tr>
<tr style="height: 36.0764px;">
<td style="width: 98.1074%; height: 36.0764px;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">Herhangi bir endişeniz veya sorunuz varsa, bize destek</span><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">@ayzio.org adresinden e-posta g&ouml;nderin. Size her zaman yardımcı olmaktan memnuniyet duyarız.</span></td>
</tr>
<tr style="height: 18.0382px;">
<td style="width: 98.1074%; height: 18.0382px;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">Tekrar hoş geldiniz!</span></td>
</tr>
<tr style="height: 36.0764px;">
<td style="width: 98.1074%; height: 36.0764px; text-align: left;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;"><span>İyi g&uuml;nler dileriz, </span><br />&nbsp; &nbsp;</span></td>
</tr>
<tr style="height: 18.0382px;">
<td style="width: 98.1074%; height: 18.0382px; text-align: center;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;"> &nbsp; &nbsp; &nbsp;Ayzio Ekibi</span></span></td>
</tr>
<tr style="height: 18.0382px;">
<td style="width: 98.1074%; height: 18.0382px;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">&nbsp;</span></td>
</tr>
<tr style="height: 18.0382px;">
<td style="width: 98.1074%; height: 18.0382px;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">&nbsp;</span></td>
</tr>
<tr style="height: 18.0382px;">
<td style="width: 98.1074%; height: 18.0382px;"><span style="font-size: 10.5px; display: inline !important; font-family: 'S&ouml;hne Mono', Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; text-align: left;">&nbsp;</span></td>
</tr>
</tbody>
</table>