<table style="border-collapse: collapse; width: 100%;" border="0" cellpadding="10">
<tbody>
<tr>
<td style="width: 98.1074%;">Sevgili <%= username%>,</td>
</tr>
<tr>
<td style="width: 98.1074%;">Şifrenizi mi unuttunuz?</td>
</tr>
<tr>
<td style="width: 98.1074%;">Hesabınızın şifresini değiştirmek i&ccedil;in bir istek aldık.</td>
</tr>
<tr>
<td style="width: 98.1074%;">Şifrenizi değiştirmek i&ccedil;in aşağıdaki bağlantıya tıklayın:</td>
</tr>
<tr>
<td style="width: 98.1074%;"><%= ileti %></td>
</tr>
<tr>
<td style="width: 98.1074%;">
<p>Şifrenizi unutmadıysanız, l&uuml;tfen bu e-postayı dikkate almayın.</p>
<p>Bu İşlem size ait değilse <a href="mailto:destek@ayzio.org">destek@ayzio.org</a>&nbsp; &nbsp; veya&nbsp; canlı destege yazınız.&nbsp;</p>
</td>
</tr>
</tbody>
</table>